<div class="flex flex-row gap-10 justify-center">
  <div class="flex flex-col lg:flex-row gap-10">
    <div class="flex flex-row gap-5">
      <button class="btn btn-neutral" (click)="openModal('department')">
        Add Department
      </button>
      <button class="btn btn-neutral" (click)="openModal('user')">
        Add User
      </button>
    </div>
    <div>
      <select
        id="deptName"
        formControlName="deptName"
        class="select max-w-50 cursor-pointer"
        (change)="handleFilter($event)"
      >
        <option value="All" selected>All Departments</option>
        @for (department of departments; track $index) {
        <option value="{{ department.name }}">
          {{ department.name }}
        </option>
        }
      </select>
    </div>
  </div>
</div>
@for (department of departments; track $index) {
<app-department
  [department]="department"
  [isFiltered]="filterValue === department.name"
></app-department>
}
<app-modal (create)="create($event)"></app-modal>
